* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f1e8e8;
    color: #333;
  }
  
  header {
    background-color: #f5e3ef;
    color: rgb(32, 32, 32)
    padding: 10px 0;
    text-align: center;
  }
  
  header .logo h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: rgb(37, 35, 35);
    text-decoration: none;
    font-weight: 400;
  }
  
  .hero {
    background-image: url('https://i.pinimg.com/564x/ce/1d/f9/ce1df926942289d37b9d8cef49d0abb8.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(231, 226, 226);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
  }
  
  .hero h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .explore-btn {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .explore-btn:hover {
    background-color: #ff4757;
  }
  
  .about-gallery {
    text-align: center;
    padding: 50px;
  }
  
  .about-gallery h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .about-gallery p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
  }
  
  .featured-art {
    padding: 50px;
    background-color: #f1e8e8;
  }
  
  .featured-art h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .art-container {
    display: flex;
    justify-content: space-around;
  }
  
  .art-piece {
    width: 30%;
    text-align: center;
  }
  
  .art-piece img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .art-info h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  footer ul li {
    margin: 0 10px;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  